{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}
Create Post
{% endblock %}

{% block styles %}
{{super()}}
<style>
    .control-label {
        display: none;
    }
</style>
{% endblock %}

{% block nav %}
{% if not current_user.is_authenticated %}
<a class="nav-link active" href="/login" style="margin-right: 20px; font-size: 20px;">Login</a>
<a class="nav-link active" href="/signup" style="margin-right: 20px; font-size: 20px;">Sign up</a>
{% else %}
<a class="nav-link active" href="/profile" style="margin-right: 20px; font-size: 20px;">Profile</a>
<a class="nav-link active" href="/logout" style="margin-right: 20px; font-size: 20px;">Log Out</a>
{% endif %}
{% endblock %}

{% block content %}
{{super()}}
<div class="shadow bg-white rounded-3 pt-4 ps-4 pb-4 pe-4 mt-4 mb-2 border border-secondary border-3"
    style="width: 70%; margin: auto;">
    <h4 class="text-center">Replying to: </h4>
    <h1 class="text-center">{{post.title}}</h1>
    <p style="font-size: 25px;"><b>Details: </b>{{post.description}}</p>
    <p style="font-size: 25px;"><b>Location: </b>{{post.location}}</p>
    <p style="font-size: 25px;"><b>Author: </b>{{post.author}}</p>
    {% if length_comments == 0 %}
    <h6>No comments on this post yet.</h6>
    {% else %}
    <p style="font-size: 25px;"><b>Comments: </b></p>
    {% for comment in comments %}
    {% if comment.post_id == post.id %}
    <div class="shadow bg-white rounded-3 pt-4 ps-4 pb-4 pe-4 mt-4 mb-4 border border-secondary border-3"
        style="width: 70%; ">
        <p style="padding-bottom: 2px; padding-top: 2px; font-size: 25px;">{{comment.Text}}</p>
        <h6 class="">By <b>{{comment.Author}}</b></h6>
        {% if comment.user_id == current_user.id %}
        <form action="" class="position-relative">
            <button type="submit" class="btn btn-danger float-end position-absolute bottom-0 end-0">Delete
                Comment</button>
        </form>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group fs-4 rounded mt-3">
            {{ wtf.form_field(form.text, placeholder="comment") }}
        </div>
        <div class="form-group fs-4 rounded mt-3">
            {{ wtf.form_field(form.author, placeholder="name") }}
        </div>
        <button class="btn btn-primary mt-3" type="submit">Post Comment!</button>
    </form>
    <form action="/posts" class="position-relative">
        <button type="submit" class="btn btn-secondary float-end position-absolute bottom-0 end-0">&#8592
            Posts</button>
    </form>
</div>


{% block scripts %}
{{super()}}
{% endblock %}

{% endblock %}