<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Error Page</title>
</head>

<body style="background-color: rgb(245, 244, 244);">
    <div class="shadow bg-white rounded-3 pt-3 ps-5 pe-5 mt-5"
        style="margin: auto; text-align: center; width: 500px; height: 300px;">
        <h1 class="text-danger">That Username or Email Already Exists. Please Try
            Another!</h1>
        <br>
        <br>
        <button class="btn btn-danger"><a href="/signup"
                style="text-decoration: none; color: white;">Return</a></button>
    </div>
</body>

</html>