{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign-up
{% endblock %}

{% block styles %}
{{super()}}
<style>
    .control-label {
        display: none;
    }
</style>
{% endblock %}

{% block nav %}
{% if not current_user.is_authenticated %}
<a class="nav-link active" href="/login" style="margin-right: 20px; font-size: 20px;">Login</a>
<a class="nav-link active" href="/signup" style="margin-right: 20px; font-size: 20px;">Sign Up</a>
{% else %}
<a class="nav-link acitve" href="/profile" style="margin-right: 20px; font-size: 20px;">Profile</a>
<a class="nav-link active" href="/logout" style="margin-right: 20px; font-size: 20px;">Log Out</a>
{% endif %}
{% endblock %}

{% block content %}
{{super()}}

<body style="background-color: rgb(245, 244, 244);">
    <form action="/signup" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group shadow bg-white rounded-3 pb-3 pt-3 ps-5 pe-5 mt-5"
            style="width: 600px; height: auto; margin:auto;">
            <h1 class="text-center">Create Account</h1>
            <div class="form-group fs-4 rounded mt-4">
                {{ wtf.form_field(form.username, placeholder="Username") }}
            </div>

            <div class="form-group fs-4 rounded mb-4 mt-4">
                {{ wtf.form_field(form.email, placeholder="Email: ex. email@email.com") }}
            </div>
            <div class="form-group fs-4 rounded mb-4">
                {{ wtf.form_field(form.password, placeholder="Password") }}
            </div>
            <button class="btn btn-primary w-100 mt-2 mb-3" type="submit">Sign Up</button>
            <p class="text-center mb-2">Already Have An Account? <a href="/login">Log in!</a></p>
        </div>

    </form>
</body>

{% block scripts %}
{{super()}}
{% endblock %}

{% endblock %}